// This is where you can import other stylesheets or write your scss code
@import "./abstract/mixin";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  nav {
    position: fixed;
    top: 0;
    .navbar-brand {
      font-family: "Work Sans", sans-serif;
      font-weight: 100;
      font-size: 32px;
      margin: 0px;
    }
    a {
      font-size: 22px;
      margin: 0 10px;
      font-family: "Work Sans", sans-serif;
    }
  }
  main {
    height: 100%;
    width: 100%;
    background-image: url(../images/Frame1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include center(flex);
    #nom_list {
      margin-top: 150px;
      display: grid;
      gap: 42px;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 450px;
      // grid-auto-rows: 250px;
      width: 90%;
      height: 2000vw;
      list-style: none;
      @include respond(tab-land) {
        grid-template-columns: 1fr 1fr;
        margin-top: 150px;
        gap: 32px;
      }

      @include respond(tab-port) {
        grid-template-columns: 500px;
        margin-top: 150px;
        place-content: inherit;
        li {
          justify-self: center;
        }
        .foot {
          h2,
          a {
            font-size: 20px;
          }
          h3 {
            font-size: 17px;
          }
        }
        .hoverload {
          font-size: 14px;
        }
      }

      @include respond(phone) {
        grid-template-columns: 1fr;
        font-size: 18px;
      }
      .locations {
        position: relative;
        background: rgb(255, 255, 255, 0.6);
        border: none;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        margin-top: 32px;

        padding: 16px;
        color: white;
        box-shadow: rgba(193, 193, 193, 0.6) 0px 1px 1px,
          rgba(83, 83, 83, 0.3) 0px 2px 2px,
          rgba(193, 193, 193, 0.6) 0px 4px 4px,
          rgba(193, 193, 193, 0.6) 0px 4px 4px,
          rgba(193, 193, 193, 0.6) 0px 4px 4px;
        &:hover > .hoverload {
          transition: 1s ease-in;
          opacity: 1;
          transform: translatey(-100%);
          border-radius: 0 0 12px 12px;
        }
        .hoverload {
          opacity: 0;
          border-radius: inherit;
          background-color: rgba(83, 83, 83, 0.9);
          height: 50%;
          padding: 18px;
          font-family: inherit;
          font-size: 16px;
          z-index: 100;
          position: absolute;
          top: 50%;
          left: 0;
          h2 {
            text-transform: capitalize;
          }
        }
        .conta {
          margin-top: 10px;
          height: 50%;
          border-radius: 6px;
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 6px 0 6px 0;
          }
        }
        .foot {
          font-size: 22px;
          height: 50%;
          position: relative;

          h2 {
            text-transform: capitalize;
            color: #464646;
            font-size: 22px;
          }
          h3 {
            color: darkgray;
            font-size: 18px;
          }

          a {
            text-shadow: none;
            font-size: 22px;
          }
          a:hover {
            text-decoration: underline;
            color: rgb(255, 27, 38);
          }

          #contact {
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            position: absolute;
            bottom: 18px;
            color: #c1c1c1;
          }
          @include respond(phone) {
            font-size: 18px;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 7vh;
    background: rgba(52, 58, 64);
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 100;
    color: #c1c1c1;

    div {
      width: 50%;
      color: #c1c1c1;
      @include center(grid);
      h4:hover {
        text-decoration: underline;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      width: 50%;
    }
    .fab {
      font-size: 24px;
    }
  }
}
